html {
   box-sizing: border-box;
}

*, 
*::before, 
*::after {
   box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h6,
h6,
p {
   margin: 0;
}

:root {
   --primary-font: 'Roboto', sans-serif;
   --secondary-font: 'Raleway', sans-serif;
   --accent-color: #404BBF;
   --main-font-color: #2E2F42;
   --button-color: #4D5AE5;
   --footer-font-color: #E7E9FC;
   --main-background-color: #FFFFFF; 
   --contact-item-color: #434455;
   --logo-light-color: #F4F4FD;
}

body {
   font-family: var(--primary-font), var(--secondary-font);
   color: var(--main-font-color);
   background-color: var(--main-background-color);
   letter-spacing: 0.02em;
}

.logo,
.list, 
.contacts {
   list-style: none;
   text-decoration: none;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   width: 1158px;

   outline: 2px solid tomato;
}

/**
  |============================
  | HEADER
  |============================
*/

.current {
   color: var(--accent-color);
}

.menu {
   display: flex;
   justify-content: space-between;
   width: 261px;
   padding-left: 0;
   
   outline: 2px solid tomato;
}

.list-item {
   margin-top: 24px;
   margin-bottom: 24px;
}

.contacts {
   display: flex;
   margin-left: 332px;

   outline: 2px solid tomato;
}

.menu-item {
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5em;
   letter-spacing: 0.02em;
   color: var(--main-font-color);
}

.menu-item:hover,
.menu-item:focus {
   color: var(--accent-color);
}


.contact-item {
   text-decoration: none;
   font-size: 16px;
   line-height: 1.5em;
   letter-spacing: 0.02em;
   color: var(--contact-item-color);
   margin: 0;
   padding: 0;
}

.phone {
   margin-top: 24px;
   margin-right: 0;
   margin-bottom: 24px;
   margin-left: 40px;
}

.email {
   margin-top: 24px;
   margin-right: 0;
   margin-left: 332px;
   margin-bottom: 24px;
}

.phone,
.email :hover,
.phone,
.email :focus {
   color: var(--accent-color);
}

/**
  |============================
  | LOGO
  |============================
*/

.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33em;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4D5AE5;
}

.logo-dark {
   color: var(--main-font-color);
}

.logo-light {
   color: var(--logo-light-color);
}

.logo-section {
   margin-top: 24px;
   margin-bottom: 24px;
   margin-left: 0;
   margin-right: 76px;
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer {
   background: var(--main-font-color);
}

.footer-text {
   font-size: 16px;
   line-height: 1.5em;
   letter-spacing: 0.02em;
   color: var(--footer-font-color);
   width: 264px;
   margin-top: 16px;
}

.footer-box{
   padding-top: 100px;
   padding-bottom: 100px;
}

/**
  |============================
  | HERO Section
  |============================
*/

.hero {
   text-align: center;
   background: var(--main-font-color);
   margin-left: auto;
   margin-right: auto;
   color: var(--main-background-color);
}

.hero-title {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07em;
   padding-top: 188px;
   margin-bottom: 48px;
   width: 494px;
   margin-left: auto;
   margin-right: auto;
}

/**
  |============================
  | JOB Screens Section
  |============================
*/

.list {
   display: flex;
   justify-content:space-between;
   padding: 0;
   margin: 0;
}

.job-images {
   padding-bottom: 120px;
}

.work {
   margin-top: 0;
   margin-bottom: 72px;
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--main-font-color);
}

/**
  |============================
  | Advantages Section
  |============================
*/

.advantages {
   padding-top: 120px;
   padding-bottom: 120px;
}

.advantage {
   display: inline-block;
}

.advantages-list {
   list-style: none;
}

.list-titles {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2em;
   margin-bottom: 8px;
}

.paragraph {
   font-size: 16px;
   line-height: 1.5em;
}

/**
  |============================
  | Professionals Section
  |============================
*/

.professinals-page {
   background-color: var(--logo-light-color);
}

.professionals {
   font-size: 36px;
   line-height: 1.11em;
}

.professinals {
   text-align: center;
   padding-top: 120px;
   padding-bottom: 72px;
   font-weight: 700;
   font-size: 36px;
   line-height: 40px;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--main-font-color);
}

.team-titles {
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--main-font-color);
}

.professinal-item {
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--contact-item-color);
}

/**
  |============================
  | BUTTONS
  |============================
*/

.button-order {
   display: inline-block;
   color: var(--main-background-color);
   background-color: var(--button-color);
   border: 1px solid var(--button-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5em;
   letter-spacing: 0.04em;
   border-radius: 4px;
   padding: 16px 32px;
   margin-bottom: 188px;
}

.button-order:hover,
.button-order:focus,
.button-filter:hover,
.button-filter:focus {
   color: var(--main-background-color);
   background-color: var(--accent-color);
   cursor: pointer;
}

.button-filter {
   color: var(--button-color);
   background-color: var(--footer-font-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5em;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.04em;
}